.my-footer {
  padding: 0 50px;
  background: var(--color-card-background);
  font-family:'Courier New', Courier, monospace;
  bottom: 0;
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.copyright {
  width: 100%;
  display: flex;
  padding: 15px 0 0 0;
  align-items: center;
  justify-content: center;

}

.footer {
  bottom: 0;
  width: 100%;
}
