:root {
  --grey-light: #f2f7f9;
  --grey: #ecedf3;
  --color-white: #fff;
  --color-second-title: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-project-title: #2196f3;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #5886c2;
  --color-title: #2196f3;

  --color-special-color: #eff30e;
  --color-button-hover: #59c378;

  --color-background-2: #0d012c;
  --color-icon-background: #464a68;
  --color-card-background: #315a91;

  --color-middle: #234e83;
  --color-darkest: #17355a;

  --color-card: #313552;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0.2rem 3rem var(var(--color-light));
  --card-box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%) !important;
  --card-box-shadow-hover: 0px 30px 60px 0px rgb(0 0 0 / 10%) !important;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  width: 100vw;
  font-family: poppins, sans-serif !important;
  background: var(--color-background) !important;
  font-size: 0.88rem;
  transition: 0.5s background ease;
}

a {
  color: var(--color-white);
  text-decoration: none !important;
}
img {
  display: block;
  width: 100%;
}
button {
  outline: none !important;
}
h1 {
  font-family: "Playfair Display", serif !important;

  font-size: 11vw;
  font-weight: 800;
  line-height: 1;
  color: var(--white);
  background: linear-gradient(160deg, var(--white), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 0.87rem;
  /* font-family: "Playfair Display", Sans-serif; */
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
p {
  color: white;
}
small {
  font-size: 0.75rem;
}
section > div {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 450px) {
  h3 {
    width: 20px !important;
    font-size: 1.5rem !important;
  }
}
.name-load {
  color: #fff !important;
  font-family: helvetica, arial, sans-serif;
  position: absolute;
  /* left: 42.7%; */
  top: 57%;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 8px;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 2px solid #45424d !important;
  border-top-color: #e1dfec !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-background);
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color-background);
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #69687e;
}
